.first{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
}
.left, .right {
    display: flex;
    height: 10vh;
    align-items: center;
}
.left{
    gap: 2.4em;
    margin-left: 2em;
}

.stag{
    text-decoration: none;
    color: white;
}


.right{
    gap: 1em;
    margin-right: 2em;
}

.img{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 1px solid purple;
    overflow: hidden;
}
.img img{
    width:100%;
    height: 100%;
}